.content-region {
	.make-xs-column(12);
	.make-sm-column(7);
	.make-md-column(8);
	.make-lg-column(6);
	.make-lg-column-push(3);

	.page-header {
		i {
			float: left;
			width: 60px;
		}

		i + .title-text {
	 		margin-left: 60px;
		}
	}

	.region-content {
		.make-row();

		.block-views {
			.make-xs-column(12);
			.make-sm-column(12);
			.make-md-column(6);
			.make-lg-column(6);
		}
	}
}

.sidebar-1-region, .sidebar-2-region {
	.make-xs-column(12);
	.make-sm-column(5);
	.make-md-column(4);
	.make-lg-column(3);
}

.sidebar-1-region {
	.make-lg-column-pull(6);
}

.content-region {
	.block-system .block-panel {
		.panel;
		.panel-variant(white; @cbf-dark-blue; white; white);

		box-shadow: 0 0 0 white;
	}

	.block-views .block-panel {
		.panel;
		.panel-variant(@cbf-content-blue; @cbf-dark-blue; @cbf-content-blue; @cbf-content-blue);

		.block-title {
			.panel-heading;

			a {
				color: @cbf-dark-blue;
			}
		}

		.more-link {
			.badge;

			background-color: @cbf-content-blue;

			a {
				color: @cbf-dark-blue;
			}
		}
	}

	.block-block .block-panel {
		.panel;
		.panel-variant(@cbf-content-blue; @cbf-dark-blue; @cbf-content-blue; @cbf-content-blue);

		.block-title {
			.panel-heading;

			a {
				color: @cbf-dark-blue;
			}
		}
	}
}

.sidebar-1-region, .sidebar-2-region {
	.block-views .block-panel {
		.panel;
		.panel-variant(@cbf-sidebar-blue; white; @cbf-sidebar-blue; @cbf-sidebar-blue);

		.block-title {
			.panel-heading;

			a {
				color: white;
			}
		}

		.more-link {
			.badge;

			background-color: @cbf-sidebar-blue;

			a {
				color: white;
			}
		}
	}

	.block-block .block-panel {
		.panel;
		.panel-variant(@cbf-sidebar-blue; white; @cbf-sidebar-blue; @cbf-sidebar-blue);

		.block-title {
			.panel-heading;

			a {
				color: white;
			}
		}

		#eWAYblock {
			margin-top: 10px;

			img {
				.img-responsive;
			}
		}
	}
}

.content-region, .sidebar-1-region, .sidebar-2-region {
	.block-views,
	.block-system,
	.block-block {
		.block-panel {
			.block-title {
				padding: 10px;
				margin-top: 0;

				i {
					float: left;
					width: 50px;
				}

				i + .title-text {
			 		margin-left: 60px;
				}
			}

			h3 {
				padding-left: 25px;

				i {
					width: 35px;
					margin-left: -35px;
				}
			}

			td {
				vertical-align: top;
			}

			.field-content {
				h3 {
					padding-left: 0; // Undoing the 35px padding-left inside fields
				}
			}

			.link-button {
				.badge;

				background-color: @cbf-sidebar-blue;
				font-size: @font-size-base;
				padding: 6px 12px;				

				a {
					color: white;
				}
			}
		}
	}

	.block-views,
	.block-system {
		.block-panel {
			.view-content {
				padding: 0 10px 10px 10px;
			}

			.views-exposed-form {
				.views-exposed-widget {
					padding: 0;
					margin: 10px 10px 0;

					.container-inline-date .form-text,
					.form-type-select .form-select {
							width: 100px;
					}
				}
			}

			.views-field {
				padding-left: 60px;

				&.views-field-field-image,
				&.views-field-field-series-image {
					float: left;
					margin-left: -60px;
				}

				&.views-field-field-is-audio,
				&.views-field-field-is-text,
				&.views-field-field-is-video {
					.h1;
					float: left;
					margin-left: -50px;
				}

				&.views-field-field-short-form,
				&.views-field-webform-form-body {
					padding-left: 0;
				}

				&.views-field-field-date-text,
				&.views-field-field-episode-date {
					font-style: italic;
				}

				&.views-field-taxonomy-vocabulary-1,
				&.views-field-field-in-activity {
					font-weight: bold;
				}

				&.views-field-field-campus-find-us {
					i {
						margin-left: -70px;
						width: 70px;
						font-size: 18px;
					}
				}

				&.more-link {
					margin: 10px 0 0 0;
					padding-left: 7px;
				}
			}

			.more-link {
				margin: 0 0 10px 10px;

				a {
					text-transform: capitalize;
					font-size: @font-size-base;
				}
			}
		}
	}

	.block-block .block-panel {
		padding: 0 10px 10px 10px;

		.block-title {
			margin-left: -10px; 
			margin-right: -10px; 
		}
	}

	.block-system .block-panel .search-form,
	.block-search .block-panel {
		margin-bottom: 25px;

		.form-control,
		.btn {
			height: 42px;
			border-color: @cbf-content-blue;
		}

		.btn {
			font-size: @font-size-h2;
			font-weight: bold;
			color: @cbf-dark-blue;
			background-color: @cbf-content-blue;
		}
	}

	.block-panel {
		.crm-container,
		.crm-container-snippet {
			.crm-section {
				.label {
					color: inherit;
					font-size: 100%;
					white-space: inherit;

					label {
						display: inline-block;
					}

					.crm-marker {
						float: right;
						margin-right: -15px;
					}
				}

				.content {
					padding: 5px;
				}
			}
		}
	}
}

.content-region .block-system .block-panel {
	.submitted {
		padding: 0 10px;
	}

	.content {
		padding: 10px;

		.field-name-field-civievent {
			.badge;

			font-size: @font-size-h1;
			background-color: @cbf-light-blue;
			float: right;
			margin-right: 5px;
			padding: 5px 30px;

			a {
				color: white;
			}
		}

		.field-name-field-date-text,
		.field-name-field-in-activity {
			font-weight: bold;
		}

		.field-name-field-image,
		.field-name-field-series-image {
			position: relative;
			float: right;
			width: 50%;
			padding-left:  @grid-gutter-width;
			margin-right: ( ( @grid-gutter-width / 2 ) - 10px );
			margin-bottom: 15px;

			img {
				.img-responsive;

				float: right;
			}
		}

		.field-name-field-in-activity,
		.field-name-field-date-text,
		.field-name-field-episode-date,
		.field-name-field-attachment,
		.field-name-body,
		.field-name-field-content,
		.field-name-field-video {
			margin-bottom: 15px;
		}

		.field-name-field-in-activity + .field-name-field-date-text
		{
			margin-top: -15px;
		}

		.field-name-field-date-text {
			min-height: 1px; // prevent an empty field causing the 15px margin being lost
		}

		.field-name-field-speakers,
		.field-name-field-topics,
		.field-name-field-bible-reference,
		.field-name-field-episode-date {
			.field-label {
				width: 150px;
			}
		}

		.field-name-field-addthis {
			.well;

			clear: both;
			margin-top: 15px;
			background-color: @cbf-content-blue;
			border-color: @cbf-sidebar-blue;

			.addthis_button_facebook {
				clear: left;
			}
		}

		.field-name-field-content {
			.jp-audio {
				width: 100%;

				.jp-interface {
					// Mobile:
						height: 110px;
					@media screen and (min-width: 400px) {
						height: 80px;
					}
				}

				.jp-mute, .jp-unmute {
					// Mobile:
						left: 32px;
						top: 73px;
					@media screen and (min-width: 400px) {
						left: 296px;
						top: 32px;
					}
				}

				.jp-volume-bar {
					// Mobile:
						left: 58px;
						top: 78px;
					@media screen and (min-width: 400px) {
						left: 324px;
						top: 37px;
					}
				}
			}
		}

		.video-filter {
			width: 400px;
			height: 225px;
			max-width: 100%;
		}

		.stack {
			.make-row();

			.box {
				.make-xs-column(12);
				.make-sm-column(12);
				.make-md-column(6);
				.make-lg-column(6);
			}
		}
	}

	.profile {
		.user-picture {
			float: right;
			margin-left: 10px;
		}
	}
}

.form-item,
.mollom-privacy {
	margin-bottom: 10px;
}

.webform-component {
	input.email {
		.form-control;
	}
}

.view-campus-homepage,
.view-display-id-national,
#block-views-6c65b09662158a51b164e9a15d88b8ac,
#block-views-f2076c84f42dfe8435efe1fa2a53a400 {
	display: none;	// Hide the campus homepage view until it can be disabled
}
