.content-region {
	.make-xs-column(12);
	.make-sm-column(7);
	.make-md-column(8);
	.make-lg-column(6);
	.make-lg-column-push(3);

	.page-header {
		margin-top: 10px;
		margin-bottom: 0px;
		border-bottom: none;
		display: flex;

		i {
			min-width: 50px;
			margin-right: 10px;
		}
	}

	.region-content {
		.make-row();

		.block-views, .block-block {
			.make-xs-column(12);
			.make-md-column(6);
		}

		/*
		 * Some blocks in the Content region are full-width
		 */
		#block-views-city-to-event-block-1,
		#block-views-city-to-event-block-3,
		#block-views-city-to-activity-block-1,
		#block-views-city-to-activity-block-3,
		.content-full-width {
			&.block-views{
				.make-md-column(12);
			}
		}
	}
}

.sidebar-1-region, .sidebar-2-region {
	.make-xs-column(12);
	.make-sm-column(5);
	.make-md-column(4);
	.make-lg-column(3);
}

.sidebar-1-region {
	.make-lg-column-pull(6);
}

.content-region .block-with-title {
	&.block-system .block-panel {
		.panel;
		.panel-variant(white; @cbf-dark-blue; white; white);

		border: none;
		box-shadow: none;
	}

	&.block-views .block-panel {
		.panel;
		.panel-variant(darken(@cbf-content-blue, 15%); @cbf-dark-blue; @cbf-content-blue; @cbf-content-blue);

		.block-title {
			.panel-heading;

			a {
				color: @cbf-dark-blue;
			}
		}
	}

	&.block-block .block-panel {
		.panel;
		.panel-variant(darken(@cbf-content-blue, 15%); @cbf-dark-blue; @cbf-content-blue; @cbf-content-blue);

		.block-title {
			.panel-heading;

			a {
				color: @cbf-dark-blue;
			}
		}
	}
}

.content-region,
.sidebar-1-region,
.sidebar-2-region {
	.block-views {
		.more-link {
			.badge;

			margin-top: @grid-gutter-width;
		}
	}
}

.content-region {
	.block-views {
		.more-link {
			background-color: @cbf-content-blue;

			a {
				color: @cbf-dark-blue;
			}
		}
	}
}

.sidebar-1-region,
.sidebar-2-region {
	.block-views {
		.more-link {
			background-color: @cbf-dark-blue;

			a {
				color: white;
			}
		}
	}
}

.sidebar-1-region .block-with-title,
.sidebar-2-region .block-with-title {
	&.block-views .block-panel {
		.panel;
		.panel-variant(lighten(@cbf-dark-blue, 15%); white; @cbf-dark-blue; @cbf-dark-blue);

		.block-title {
			.panel-heading;

			a {
				color: white;
			}
		}
	}

	&.block-block .block-panel {
		.panel;
		.panel-variant(lighten(@cbf-dark-blue, 15%); white; @cbf-dark-blue; @cbf-dark-blue);

		.block-title {
			.panel-heading;

			a {
				color: white;
			}
		}

		#eWAYBlock {
			margin-top: 10px;

			img {
				.img-responsive;
			}
		}
	}
}

.content-region, .sidebar-1-region, .sidebar-2-region {
	.block-views,
	.block-system,
	.block-block {
		&.block-with-title .block-panel {
			padding-bottom: 20px;
			border-radius: 10px;

			.block-title {
				padding: 10px;
				margin-top: 0;
				margin-bottom: 20px;
				border-radius: 9px 9px 0 0;
				display: flex;

				i {
					min-width: 50px;
					margin-right: 10px;
				}
			}
		}

		.block-panel {
			.view-header {
				padding: 0 10px @line-height-computed 10px;
			}

			.views-row + h3 {
				margin-top: @grid-gutter-width;
				border-top: 1px solid lighten(@cbf-dark-blue, 15%);
				padding-top: (@grid-gutter-width/2);
			}

			.view-content > h3 {
				margin-bottom: @grid-gutter-width;
				color: lighten(@cbf-dark-blue, 15%);
				display: flex;

				i {
					min-width: 50px;
					margin-right: 10px;
					font-size: 39px;	// Make the icon the same size as the thumbnail
					line-height: 50px;	// namely 50x50 pixels
				}
			}

			td, th {
				vertical-align: top;
				padding: 5px;
			}
		}
	}

	.block-views,
	.block-system {
		.block-panel {
			.view-national-library .view-header {
				.well;
				.h1;

				padding-left: 74px; /* 15px view-content + 60px views-field - 1px border*/

				color: @cbf-dark-blue;
				background-color: @cbf-content-blue;
				border-radius: 10px;
				border-color: lighten(@cbf-dark-blue, 15%);
			}

			.view-city-to-activity .field-name-field-add-to-calendar {
				position: relative;

				a {
					.badge;

					// Mobile:
						font-size: @font-size-h4;
					@media screen and (min-width: 400px) {
						font-size: @font-size-h2;
					}

					background-color: @cbf-light-blue;
					width: 100%;
					max-width: 280px;
					padding: 10px;
					border-radius: 20px;
					color: white;
				}

				.dropdown-menu {
					margin: 36px 8px 0;

					.dropdown-submenu .dropdown-menu {
						margin: 0px 8px 0;
					}

					a {
						font-size: @font-size-h4;
						background-color: white;
						float: none;
						width: auto;
						max-width: auto;
						color: @cbf-dark-blue;
						font-weight: normal;
					}
				}

				a + a {
					margin-top: 15px;
				}
			}

			.view-national-library .view-empty {
				.well;
				.lead;

				border-radius: 10px;

				padding-left: 74px; /* 15px view-content + 60px views-field - 1px border*/
			}

			.view-content,
			.view-empty,
			.views-exposed-form {
				padding: 0 10px;

				.btn {
					border-radius: 20px;
					height: 40px;
				}
			}

			.views-exposed-form {
				.views-exposed-widget {
					margin: 10px 10px 0 0;
				}
			}

			.views-row {
				clear: left;
			}

			div.views-field,
			h3.views-field {
				padding-left: 60px;
			}

			div.views-field {
				&.views-field-field-sidebar-content {
					padding-left: 0;
				}

				&.views-field-field-image,
				&.views-field-field-thumbnail-image,
				&.views-field-field-series-image,
				&.views-field-field-is-audio,
				&.views-field-field-is-text,
				&.views-field-field-is-video {
					float: left;
					padding-left: 0;
				}

				&.views-field-field-image,
				&.views-field-field-thumbnail-image,
				&.views-field-field-series-image {
					img {
						width: 50px;
					}
				}

				&.views-field-field-is-audio,
				&.views-field-field-is-text,
				&.views-field-field-is-video {
					clear: left;
					font-size: 39px;	// Make the icon the same size as the thumbnail
					line-height: 50px;	// namely 50x50 pixels
				}

				&.views-field-field-short-form,
				&.views-field-webform-form-body {
					padding-left: 0;
				}

				&.views-field-field-date-text,
				&.views-field-field-episode-date {
					font-style: italic;
					font-size: 13px;
					line-height: 20px;

					.other-times {
						font-style: italic;
						display: inline-block;
					}
				}

				&.views-field-display-name,
				&.views-field-taxonomy-vocabulary-1,
				&.views-field-field-in-activity,
				&.views-field-field-speakers {
					font-weight: bold;
				}

			        &.views-field-field-staff-contact {
					font-size: @font-size-h3;
				}

				&.views-field-field-subtitle,
				&.views-field-field-subtitle + .views-field-field-short-form,
				&.views-field-body {
					margin-top: 10px; // Matches the margin under a H3 views-field-title
				}

				&.views-field-field-campus-find-us {
					i {
						margin-left: -70px;
						width: 70px;
						font-size: 18px;
					}
				}

				&.views-field-field-attachment,
				&.views-field-field-order-url {
				  ul {
				    list-style: none;
				    padding-left: 0;
				  }
				}

				&.views-field-field-order-url {
				  ul {
				    li {
				      a {
				        .badge;
				        margin: @line-height-computed 0 0 0;
				        padding: floor(@line-height-computed/2) floor(@grid-gutter-width/2);
				        border-radius: @line-height-computed;
				        background: @brand-primary;
				        font-size: @font-size-base;
				        line-height: @line-height-computed;
				        white-space: normal;
				      }
				    }
				  }
				}

				&.more-link {
					margin-left: 0;
					padding-left: 7px;
				}
			}

			.more-link {
				margin-left: 10px;

				a {
					text-transform: capitalize;
					font-size: @font-size-base;
				}
			}
		}
	}


	.block-block .block-panel {
		padding: 0 10px @line-height-computed 10px;

		.block-title {
			margin-left: -10px; 
			margin-right: -10px; 
		}
	}

	.block-block .block-panel > h3 {
		display: flex;

		i {
			min-width: 25px;
			margin-right: 10px;
		}
	}

	.block-system .block-panel .search-form,
	.block-search .block-panel {
		margin-bottom: 25px;

		.form-control {
			border-radius: 20px 0 0 20px;
		}

		.form-control,
		.btn {
			height: 40px;
			border-color: darken(@cbf-content-blue, 15%);
		}

		.btn {
			font-size: @font-size-h2;
			font-weight: bold;
			color: @cbf-dark-blue;
			background-color: @cbf-content-blue;
			border-radius: 0 20px 20px 0;
			padding: 6px 20px 6px 12px;
		}
	}
}

/*
 * Bootstrap thumbnail views fields
 */
.thumbnail {
  .views-field-field-image {
    // Mobile:
      max-width: 50%;
      float: right !important;
      margin: 0 0 @line-height-computed floor(@grid-gutter-width/2);
      padding: 0 0 0 floor(@grid-gutter-width/2) !important;
    @media (min-width: @screen-sm-min) {
      max-width: 100%;
      float: none !important;
      margin: 0 0 @line-height-computed 0;
      padding: 0 !important;
    }

    img {
      margin: auto;
      width: auto !important;
    }
  }

  .views-field-title {
    // Mobile:
      font-weight: bold;
    @media (min-width: @screen-sm-min) {
      font-weight: normal;
    }
  }

  .views-field-title,
  .views-field-field-subtitle {
    font-size: @font-size-large;
    line-height: @line-height-large;
  }

  .views-field-title,
  .views-field-field-subtitle,
  .views-field-field-order-url {
    padding-left: 0 !important;
  }
}

.views-field-field-thumbnail-image + .views-field-field-series-image,
.views-field-field-thumbnail-image + .views-field-field-image {
	display: none;
}

.content-region .block-system .block-panel {
	.view-content {
		padding: floor(@grid-gutter-width / 2);
		padding-top: 0;
	}

	& > .entity,
	article {
		padding: floor(@grid-gutter-width / 2);
	}

	& > .entity,
	.view-shop-cbf-product,
	article {
		.views-field {
			padding-left: 0;
		}

		.field-name-field-civievent,
		.field-name-field-add-to-calendar {
			position: relative;
			float: right;
			clear: right;
			width: 50%;
			padding-left: ( @grid-gutter-width / 2);
			margin-left: ( @grid-gutter-width / 2);

			a {
				.badge;

				// Mobile:
					font-size: @font-size-h4;
				@media screen and (min-width: 400px) {
					font-size: @font-size-h2;
				}

				background-color: @cbf-light-blue;
				float: right;
				width: 100%;
				max-width: 280px;
				padding: 10px;
				border-radius: 20px;
				color: white;
			}

			.dropdown-menu {
				margin: 36px 8px 0;

				.dropdown-submenu .dropdown-menu {
					margin: 0px 8px 0;
				}

				a {
					font-size: @font-size-h4;
					background-color: white;
					float: none;
					width: auto;
					max-width: auto;
					color: @cbf-dark-blue;
					font-weight: normal;
				}
			}

			a + a {
				margin-top: 15px;
			}
		}

		.field-name-field-civievent + .field-name-field-add-to-calendar {
			display: none; // Hide Add to calendar if there is a CiviEvent
		}

		.field-name-field-in-activity {
			font-size: @font-size-h3;
		}

		.field-name-field-date-text {
			font-weight: bold;
		}

		.views-field-field-image,
		.field-name-field-image,
		.field-name-field-series-image {
			position: relative;
			float: right !important;
			clear: right;
			width: 50%;
			padding-left: floor(@grid-gutter-width / 2) !important;
			margin-left: floor(@grid-gutter-width / 2);

			img {
				.img-responsive;

				width: auto !important;
				float: right;
			}
		}

		.field-name-field-in-activity,
		.field-name-field-date-text,
		.field-name-field-episode-date,
		.views-field-field-image,
		.field-name-field-image,
		.field-name-field-series-image,
		.field-name-field-attachment,
		.field-name-body,
		.field-name-field-content,
		.field-name-field-video,
		.field-name-field-civievent,
		.views-field-field-subtitle,
		.views-field-field-attachment,
		.views-field-field-long-description,
		.field-name-field-subtitle,
		.entity-property-summary,
		.entity-property-description {
			margin-bottom: 25px;
		}

		.field-name-field-subtitle {
			margin-left: (50px + 10px);	// Width of .page-header i element
		}

		.views-field-field-subtitle,
		.field-name-field-subtitle,
		.entity-property-summary {
			font-size: @font-size-large;
		}

		.field-name-field-topic + .field-name-body,
		.field-name-field-topics + .field-name-body {
			margin-top: 25px;
		}

		.field-name-field-date-text + .field-name-body {
			clear: right;
		}

		.field-name-field-add-to-calendar {
			margin-bottom: 0px;

			ul {
				margin-bottom: 25px;
			}
		}

		.field-name-field-content,
		.field-name-field-video {
			clear: both;
		}

		.field-name-field-in-activity + .field-name-field-date-text
		{
			margin-top: -25px;
		}

		.field-name-field-date-text {
			min-height: 1px; // prevent an empty field causing the 25px margin being lost
		}

		.field-name-field-speakers,
		.field-name-field-bible-reference,
		.field-name-field-episode-date {
			.field-label {
				width: 30%;
			}
			.field-items {
				width: 70%;
			}
		}

		.field-name-field-topic,
		.field-name-field-topics {
			display: inline;

			.field-label {
				display: none;
			}

			.field-items {
				display: inline;
			}

			.field-item {
				.badge;
				display: inline-block;
				padding: 5px;
				margin: 0 5px 5px 0;
				background: @cbf-dark-blue;
				color: white;
			}
		}

		.field-name-field-addthis {
			clear: both;
			margin-top: 25px;

			a.at300b {
				height: (2 * @line-height-computed);
				margin: 0;
			}

			a.addthis_button_facebook {
				// Mobile:
					clear: left;
				@media (min-width: @screen-xs-min) {
					clear: none;
				}
			}
		}
	}

	.profile {
		.user-picture {
			float: right;
			margin-left: 10px;
		}
	}

	.links {
		padding: 10px;
		margin-left: -10px;

		.comment-add {
			.badge;

			font-size: @font-size-h1;
			background-color: @cbf-light-blue;
			border-radius: 20px;
			padding: 8px 30px;
			height: 40px;

			a {
				color: white;
			}
		}
	}

	.comment-wrapper {
		h2,
		h3 {
			padding: 0 10px;
		}
	}
}

.field-type-tablefield {
	clear: both;

	.tablefield-wrapper {
		table.tablefield {
			.panel;
			.panel-variant(lighten(@cbf-dark-blue, 15%); white; @cbf-dark-blue; @cbf-dark-blue);

			width: 100%;

			border-collapse: separate;  // Enforce default
			border-radius: 10px;

			thead {
				th {
					.panel-heading;
				}

				th:first-child {
					border-top-left-radius: 9px;
				}

				th:last-child {
					border-top-right-radius: 9px;
				}

				a {
					color: white;
				}
			}

			tbody {
				.panel-body;
			}
		}

		.table {
			border-collapse: inherit;

			> thead, > tbody, > tfoot {
				> tr {
					> th, > td {
						border: 0px;
						padding: 8px;
					}
				}
			}

			> thead, > tbody {
				> tr:first-child {
					> th, > td {
						padding-top: 20px;
					}
				}
			}

			> tbody, > tfoot {
				> tr:last-child {
					> th, > td {
						padding-bottom: 20px;
					}
				}
			}
		}

		.table-striped > tbody > tr:nth-child(2n+1) {
			background-color: inherit;
		}
	}
}

/*
 * jPlayer configuration
 */
.block-panel {
  div.jp-audio {

    // Mobile:
      width: 100%;
    @media (min-width: @screen-xs-min) {
      width: @screen-xs-min;
    }
    @media @tablet {
      width: 100%;
    }

    div.jp-type-playlist {

      a.jp-play,
      a.jp-pause {
        left: 20px;
      }

      div.jp-volume-bar {
        width: 46px;

        // Mobile and tablet:
          left: 324px;
        @media @tablet {
          left: 342px; /* 408 - 46 - 20 */
        }
        @media @normal {
          left: 551px; /* 617 - 46 - 20 */
        }
        @media @wide {
          left: 489px; /* 555 - 46 - 20 */
        }
      }

      a.jp-mute,
      a.jp-unmute {

        // Mobile and tablet:
          left: 296px; /* 324 - 28 */
        @media @tablet {
          left: 314px; /* 342 - 28 */
        }
        @media @normal {
          left: 523px; /* 551 - 28 */
        }
        @media @wide {
          left: 461px; /* 489 - 28 */
        }
      }

      div.jp-progress,
      div.jp-current-time,
      div.jp-duration {
        left: 76px;

        // Mobile and tablet:
          width: 200px; /* 296 - 76 - 20 */
        @media @tablet {
          width: 218px; /* 314 - 76 - 20 */
        }
        @media @normal {
          width: 427px; /* 523 - 76 - 20 */
        }
        @media @wide {
          width: 365px; /* 461 - 76 - 20 */
        }
      }
    }
  }
}

.form-item,
.mollom-privacy {
	margin-bottom: 10px;
}

.webform-component {
	input.email {
		.form-control;

		height: 40px;
		border-radius: 20px;
	}
}

.form-control {
	height: 40px;
	border-radius: 20px;
}

.resizable-textarea textarea {
	border-radius: 20px 20px 0 0;
}


/*
 * CiviCRM Event entity pages
 */
.page-civicrm-event {
  .content-region,
  .sidebar-1-region,
  .sidebar-2-region {
    .block-system,
    .block-views {
      .block-panel div.views-field {
        &.views-field-nothing,
        &.views-field-id {
          padding-left: 0;
        }
      }
    }
  }

  .views-field-field-date-text {
    margin-left: 0;
    line-height: (2 * @line-height-computed);
    font-weight: bold;
    font-style: normal;
    font-size: @font-size-large;
  }

  .views-field-nothing {    /* Address */
    color: @text-color;
    line-height: @line-height-computed;
    font-size: @font-size-large;
  }

  .view-content h3 {
    color: @text-color;
    line-height: @line-height-computed;
    font-size: @font-size-base;
  }

  .views-field-amount {
    float: right;
  }

  .views-field-id {
    .badge;
    width: 100%;
    padding: @line-height-computed floor(@grid-gutter-width/2);
    border-radius: @grid-gutter-width;
    background: @brand-primary;

    a,
    a:hover,
    a:focus {
      // Mobile:
        font-size: @font-size-base;
      @media (min-width: @screen-xs-min) {
        font-size: @font-size-large;
      }
      font-weight: bold;
      color: white;
      background: @brand-primary;
    }
  }
}

/*
 * Specific view formatting
 */
.view-reaching-city-civicrm-event-price {
  h3 {
    margin: 0 !important;

    .Radio,
    .CheckBox,
    .Text {
      display: none;
    }

    .Select {
      padding-top: @line-height-computed;
    }
  }

  .views-row {
    padding-top: @line-height-computed;
    line-height: @line-height-computed;
    font-size: @font-size-large;
  }

  .views-row + h3 {
    padding: 0;
  }
}

.view-campus-homepage,
.view-display-id-national,
#block-views-6c65b09662158a51b164e9a15d88b8ac,
#block-views-f2076c84f42dfe8435efe1fa2a53a400 {
  display: none;         // Hide the campus homepage view until it can be disabled
}

.rtecenter {
  text-align: center;
}

.page-node-2390 {
  .for-christian-content,
  #block-views-activity-to-event-block {
    display: none;
  }
}

/*
 * GMap configuration
 */
.gmap {
  width: 100% !important;

  .gmap-popup {
    .views-field {
      margin: 0;
      padding: 0 !important;
      font-size: @font-size-base;
      line-height: @line-height-computed;
    }
  }
}
