.content-region {
	.make-xs-column(12);
	.make-sm-column(7);
	.make-md-column(8);
	.make-lg-column(6);
	.make-lg-column-push(3);

	.page-header {
		padding-left: 60px;

		i {
			width: 60px;
			margin-left: -60px;
		}
	}

	.region-content {
		.make-row();

		.block-views {
			.make-xs-column(12);
			.make-sm-column(12);
			.make-md-column(6);
			.make-lg-column(6);
		}
	}
}

.sidebar-1-region, .sidebar-2-region {
	.make-xs-column(12);
	.make-sm-column(5);
	.make-md-column(4);
	.make-lg-column(3);
}

.sidebar-1-region {
	.make-lg-column-pull(6);
}

.content-region, .sidebar-1-region, .sidebar-2-region {
	.block-views .block-panel {
		.panel;
		.panel-variant(@cbf-dark-blue; white; @cbf-dark-blue; @cbf-dark-blue);

		.block-title {
			.panel-heading;

			a {
				color: white;
			}

			padding-left: 50px;
			margin-top: 0;

			i {
				width: 50px;
				margin-left: -50px;
			}
		}

		.views-field {
			padding-left: 70px;

			&.views-field-field-image,
			&.views-field-field-series-image,
			&.views-field-field-is-audio,
			&.views-field-field-is-text,
			&.views-field-field-is-video {
				float: left;
				margin-left: -60px;
			}

			&.views-field-field-is-audio,
			&.views-field-field-is-text,
			&.views-field-field-is-video {
				.h2;
			}
		}
	}
}
