#navbar {
	.navbar-header {
		.make-xs-column(12);
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);

		.logo {
			width: 85%;
			
			img {
				.img-responsive;
			}
		}
	}

	.navbar-collapse {
		.make-sm-column(8);
		.make-md-column(8);
		.make-lg-column(8);

		.navbar-nav {
			.active {
				font-weight: bold;
				background-color: inherit;
			}
		}
	}
}

#page-header {
	.region-header {
		.well;

		color: white;
		background: @cbf-light-blue;

		.nav {
			li {
				.dropdown-menu li {
					color: @cbf-dark-blue;
					margin-left: 5px;

					a {
						border: 0px;
					}
				}

				a {
					border: 1px solid @gray-lighter;
				}

				a:hover, a:focus {
					color: @cbf-dark-blue;
				}
			}
		}

		.nav li a, .block-views {
			margin: 5px;
		}

		.carousel {
			.carousel-indicators {
				bottom: 0px;

				.active {
					background-color: @cbf-dark-blue;
				}

				li {
					border-color: @cbf-dark-blue;
				}
			}

			.carousel-inner {
				.item {
					a {
						display: block;
						padding: 0 15%;

						img {
							width: 100%;

							.img-responsive;
						}
					}

					.carousel-caption {
						color: @cbf-dark-blue;
						text-shadow: none;
						background: rgba(255,255,255,0.9);
						padding-bottom: 30px;
						padding-top: 0;
						left: 15%;
						right: 15%;
						bottom: 0;
					}
				}
			}

			.carousel-control {
				font-size: 80px;
				line-height: 100%;
			}
		}
	}
}
