.navbar {
	border-width: 0px;
	margin-bottom: 45px;
}

#navbar {
	.navbar-header {
		.make-xs-column(12);
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);

		padding-left: 0;

		.logo {
			// Mobile:
				display: inline-block;	/* http://soqr.fr/testsvg/embed-svg-liquid-layout-responsive-web-design.php */
				position: relative;
				width: 85%;
				max-width: 360px;
				padding-bottom: 20.4%;	/* 240px / 1000px * 85% */
			@media screen and (min-width: 460px) {
				padding-bottom: 86px;	/* 240px / 1000px * 360px */
			}
			@media @tablet {
				width: 100%;
				padding-bottom: 24%;   /* 240px / 1000px * 100% */
			}
			
			object {
				display: block;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				pointer-events: none; /* http://stackoverflow.com/questions/11374059/make-an-html-svg-object-also-a-clickable-link */
			}
			
			img {
				.img-responsive;
			}
		}
	}

	.navbar-collapse {
		.make-xs-column(12);
		.make-sm-column(8);
		.make-md-column(8);
		.make-lg-column(8);

		padding: 0;
		max-height: none;
		
		&.in {
			overflow-x: hidden;
			overflow-y: hidden;

			.city-menu {
				// Mobile
					height: 300px;
				@media @tablet {
					height: auto;
				}
			}
		}

		.navbar-nav {
			// Mobile:
				margin-left: 0;
				padding-left: 15px;
				width: 100%;
			@media @wide {
				margin-left: 25%;
				padding-left: 15px;
				width: 75%;
			}

			.active {
				font-weight: bold;
				background-color: inherit;
			}

			.leaf {
				a {
					font-size: @font-size-h2;
					padding: 24px 10px 0px;
				}
			}
		}

		.region-navigation {
			.make-row();

			// Mobile:
				margin-left: 0px;
				margin-right: 0px;
			@media @tablet {
				margin-left: -5px;
				margin-right: (@grid-gutter-width / -2);
			}

			.city-menu {
				.make-xs-column(6);
				.make-sm-column(3*12/8);
				.make-md-column(6);
				.make-lg-column(3*12/8);
				.make-lg-column-offset(2*12/8);

				.block-panel {
					margin-top: 45px;

					.btn-group {
						width: 100%;

						.btn {
							width: 100%;
							height: 35px;
							border-radius: 6px;
							font-size: 20px;
							line-height: 1.33333;
							padding: 0px 16px;
						}
					}
				}
			}

			.block-search {
				.make-xs-column(6);
				.make-sm-column(5*12/8);
				.make-md-column(6);
				.make-lg-column(3*12/8);

				margin: 0px;

				.block-panel {
					margin-top: 45px;

					.form-control {
						height: 35px;
						color: @cbf-light-grey;
						border-color: @cbf-dark-blue;
						float: right;
						width: 100%;
					}

					.form-group {
						margin-bottom: 0;
					}

					.btn {
						height: 35px;
						color: white;
					}
				}
			}
		}
	}
}

.city-adelaide,
.city-brisbane,
.city-canberra,
.city-melbourne,
.city-perth,
.city-sydney {
	.menu-home {
		display: none;
	}
}

.menu-adelaide,
.menu-brisbane,
.menu-canberra,
.menu-melbourne,
.menu-perth,
.menu-sydney {
	display: none;
}

.menu-home,
.city-adelaide  .city-menu .menu-adelaide,
.city-brisbane  .city-menu .menu-brisbane,
.city-canberra  .city-menu .menu-canberra,
.city-melbourne .city-menu .menu-melbourne,
.city-perth     .city-menu .menu-perth,
.city-sydney    .city-menu .menu-sydney {
	display: inline;
	margin-right: 15px;
	font-weight: bold;
}

#page-header {
	.region-header {
		.well;
		padding: 0;

		color: white;
		background: @cbf-light-blue;
		margin-bottom: 25px;

		.block {
			margin: 19px;

			&.no-margin {
				margin: 0px;
			}
		}

		.nav {
			li {
				.dropdown-menu li {
					color: @cbf-dark-blue;
					margin-left: 5px;

					a {
						border: 0px;
					}
				}

				a {
					border: 1px solid @gray-lighter;
				}

				a:hover, a:focus {
					color: @cbf-dark-blue;
				}
			}
		}

		.nav li a, .block-views .view {
			margin: 5px;
		}

		.nav-pills > li + li {
			margin-left: 0;
		}

		.carousel {
			.carousel-indicators {
				// Mobile:
					left: 0;
					width: 100%;
				@media @tablet {
					left: 60%;
					width: 40%;
				}
				@media @wide {
					left: 50%;
					width: 50%;
				}

				margin-left: 0;
				bottom: 0px;
			}

			.carousel-inner {
				background: @cbf-dark-blue;

				.item {
					a {
						color: white;
						display: block;
						padding: 0;

						img {
							.img-responsive;

							// Mobile:
								width: 100%;
								margin-bottom: 180px;
							@media @tablet {
								width: 60%;
								margin-bottom: 0;
							}
							@media @wide {
								width: 50%;
							}
						}
					}

					.carousel-caption {
						color: white;
						text-shadow: none;
						right: 0;

						.ministry-centre {
							display: block;
							font-size: @font-size-h4;
							padding-top: 8px;
							font-style: italic;
						}

						// Mobile:
							height: 150px;
							bottom: -150px;
							left: 0;
							padding: 0 10px 0px;
						@media @tablet {
							height: auto;
							bottom: 0;
							top: 5%;
							left: 60%;
							padding: 0 10% 30px 5%;
						}
						@media @wide {
							top: 15%;
							left: 50%;
							right: 10%;
							padding: 0 0 30px 10%;
						}
					}
				}
			}

			.carousel-control {
				font-size: 80px;

				// Mobile:
					width: 15%;
					padding: 10% 0;
				@media @tablet {
					width: 10%;
					padding: 5% 0;
					z-index: 12;
				}
				@media @normal {
					width: 10%;
					padding: 8% 0;
				}
				@media @wide {
					width: 10%;
					padding: 6% 0;
				}

				&.left {
					background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
				}

				&.right {
					background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
				}
			}
		}
	}
}


.library-header-outer {
	position: relative;
}

.library-header-outer:after {
	color: (@cbf-content-blue + 3*@cbf-light-blue)/4;
	content: "\f19c";
	font-family: FontAwesome;
	font-size: 150px;
	font-style: normal;
	font-weight: normal;
	left: 80%;
	position: absolute;
	text-decoration: inherit;
	top: -10%;
	z-index: 1;

	// Mobile
		font-size: 60px;
		top: -3%;
	@media @tablet {
		font-size: 100px;
		top: -3%;
	}
	@media @normal {
		font-size: 120px;
		top: -0%;
	}
	@media @wide {
		font-size: 150px;
		top: -10%;
	}
}

.library-header-inner {
	position: relative;
	z-index: 2;
}
