	#navbar {
	.navbar-header {
		.make-xs-column(12);
		.make-sm-column(5);
		.make-md-column(5);
		.make-lg-column(5);

		.logo {
			width: 85%;
			
			img {
				.img-responsive;
			}
		}
	}

	.navbar-collapse {
		.make-sm-column(7);
		.make-md-column(7);
		.make-lg-column(7);

		.navbar-nav {
			.active {
				font-weight: bold;
				background-color: inherit;
			}

			.leaf {
				a {
					padding: 20px 10px;
				}
			}
		}
	}
}

.city-adelaide 	.menu-adelaide,
.city-brisbane	.menu-brisbane,
.city-perth	.menu-perth,
.city-melbourne	.menu-melbourne,
.city-sydney	.menu-sydney {
	font-weight: bold;
}

#page-header {
	.region-header {
		.well;

		color: white;
		background: @cbf-light-blue;

		.block + .block {
			margin-top: 20px;
		}

		.nav {
			li {
				.dropdown-menu li {
					color: @cbf-dark-blue;
					margin-left: 5px;

					a {
						border: 0px;
					}
				}

				a {
					border: 1px solid @gray-lighter;
				}

				a:hover, a:focus {
					color: @cbf-dark-blue;
				}
			}
		}

		.nav li a, .block-views {
			margin: 5px;
		}

		.carousel {
			.carousel-indicators {
				// Mobile:
					left: 0;
					width: 100%;
				@media @tablet {
					left: 60%;
					width: 40%;
				}
				@media @wide {
					left: 50%;
					width: 50%;
				}

				margin-left: 0;
				bottom: 0px;
			}

			.carousel-inner {
				background: @cbf-dark-blue;

				.item {
					a {
						color: white;
						display: block;
						padding: 0;

						img {
							.img-responsive;

							// Mobile:
								width: 100%;
								margin-bottom: 180px;
							@media @tablet {
								width: 60%;
								margin-bottom: 0;
							}
							@media @wide {
								width: 50%;
							}
						}
					}

					.carousel-caption {
						color: white;
						text-shadow: none;
						right: 0;

						// Mobile:
							height: 150px;
							bottom: -150px;
							left: 0;
							padding: 0 10px 0px;
						@media @tablet {
							height: auto;
							bottom: 0;
							top: 5%;
							left: 60%;
							padding: 0 10% 30px 5%;
						}
						@media @wide {
							top: 15%;
							left: 50%;
							right: 10%;
							padding: 0 0 30px 10%;
						}
					}
				}
			}

			.carousel-control {
				font-size: 80px;

				// Mobile:
					width: 15%;
					padding: 10% 0;
				@media @tablet {
					width: 10%;
					padding: 5% 0;
					z-index: 12;
				}
				@media @normal {
					width: 10%;
					padding: 8% 0;
				}
				@media @wide {
					width: 10%;
					padding: 6% 0;
				}

				&.left {
					background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
				}

				&.right {
					background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
				}
			}
		}
	}
}
